/* * {
  font-family: "General Sans", "Mabry pro", "Helvetica", sans-serif;
} */

h2.header {
  font-family: "General Sans", "Mabry pro", "Helvetica", sans-serif;
  font-weight: 500;
}

a {
  color: var(--accent-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  /* justify-items: stretch; */
}

input {
  /* border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 0px solid; */
  text-align: center;
}

.form-group > * {
  max-width: max(15rem, 50vh);
  min-height: min(3rem, 50vh);
  border: 1px solid rgba(var(--main-color), 1);
  border-radius: 0.25rem;
  width: 100%;
}

input,
textarea {
  background-color: rgba(var(--accent-color), 0.9);
  color: rgba(var(--main-color), 1);
}

/* input[name="Message"] {
  min-height: min(6rem, 30vw);
  flex: 3 1 0;
  resize: both;
  margin-bottom: 1rem;
} */

input::placeholder,
textarea::placeholder {
  align-self: baseline;
  text-align: start;
  font-family: "Courier New", Courier, monospace;
  color: rgba(var(--main-color), 1);
  font-size: 1.125em;
  font-weight: 500;
}

textarea,
input {
  align-self: baseline;
  text-align: start;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.125em;
  font-weight: 500;
}

/* form > button {
  width: 10rem;
} */

/* img {
  max-width: 100%;
  width: min(600px, 100%);
  height: auto;
} */

/* .form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
} */

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0 min(30rem, 3vw);
}

.form-wrapper > * {
  flex: 1 1 1;
}

button[type="submit"] {
  margin-top: 1rem;
}

.form-wrapper a {
  text-decoration: underline;
}
