.header {
  font-family: "General Sans", "Mabry pro", "Rubik", sans-serif;
}

div.form-group {
  padding-bottom: 10px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* .form-container > * {
  flex-basis: 100%;
} */

.form-container > * {
  flex: 1 1 50%;
}

label {
  font-family: "Clash Grotesk", "Rubik";
  font-size: var(--fs-500);
  font-weight: 600;
  letter-spacing: 1px;
}

input {
  /* width: 95%; */
  min-height: var(--fs-900);
  min-width: 340px;
  border: 0;
  /* border: 3px dotted var(--accent-color); */
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--accent-color);
}

input[name="message"] {
  /* background-color: var(--accent-color); */
  color: var(--main-color);
  height: 35vh;
  width: 97.5%;
  /* opacity: 0.8; */
}

::placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: var(--fs-body);
  color: var(--main-color);
}
