.inner-cursor {
  position: fixed;
  left: 10px;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  /* mix-blend-mode: difference; */
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}

.inner-cursor.grow {
  width: 60px;
  height: 60px;
  transition: width 0.3s ease, height 0.3s ease;
  mix-blend-mode: difference;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--accent-color);
  /* mix-blend-mode: difference; */
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
}
