.inner-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}

.different {
  mix-blend-mode: difference;
}

.grow {
  width: 65px;
  height: 65px;
  transition: width 0.3s ease, height 0.3s ease;
  mix-blend-mode: difference;
}

.invert {
  background-color: var(--main-color) !important;
  mix-blend-mode: difference;
}

.inner-cursor span {
  position: relative;
  top: 0;
  left: 30px;
  width: 60ch;
  color: var(--accent-color);

  opacity: 0;
  transition: opacity 1s;
}

.inner-cursor span.visible {
  opacity: 1;
}
