@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro Regular"), local("Mabry-Pro-Regular"),
    url("/fonts/MabryPro-Regular.woff2") format("woff2"),
    url("/fonts/MabryPro-Regular.woff") format("woff"),
    url("/fonts/MabryPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: 0, 0, 0;
  --accent-color: 255, 255, 255;

  --fs-300: 0.9rem;
  --fs-400: 1.125rem;
  --fs-500: 1.325rem;
  --fs-600: 1.625rem;
  --fs-700: 2rem;
  --fs-800: 2.325rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
}

@supports (transition: initial) {
  * {
    transition: all 0.3s ease;
  }
}

* {
  font-family: "Mabry pro", "Helvetica", sans-serif;
  cursor: none;
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  /* margin: 10px; */
}

body:not(.navbar) {
  /* display: flex;
  flex-direction: column; */
  /* padding: 0px 15px; */
  margin: 0;
  padding: 0px 15px;
}

body {
  height: 100%;
  position: relative;
  overflow: scroll;
  place-items: center;
  background-color: rgba(var(--main-color), 1);
  transition: background-color 0.3s ease;

  overflow-x: hidden;
}

p,
h1,
h2,
.text,
label {
  color: rgba(var(--accent-color), 1);
  margin-top: 0px;
  max-width: 60ch;
}

a.button,
button {
  padding: 8px 16px;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  font-size: var(--fs-button);
  color: rgba(var(--accent-color), 1);
  background-color: rgba(var(--main-color), 1);
  border: 3px dotted rgba(var(--accent-color), 1);
  border-radius: 20px;
  cursor: none;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px;
  position: relative;
  /* display: inline; */
}

a.button {
  display: inline-block;
}

a.button:hover,
button:hover {
  transform: scale(1.2) !important;
}

a.button[data-tooltip]::after,
button[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translateX(-50%);
  background-color: rgba(var(--accent-color), 1);
  color: rgba(var(--main-color), 1);
  white-space: nowrap;
  font-size: 0.65em;
  margin-top: 1em;
  padding: 0.35em 0.45em;
  border-radius: 15px;
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 220ms;
}

a.button[data-tooltip]:hover::after,
button[data-tooltip]:hover::after {
  transform: scale(1);
  transition-delay: 2.5s;
  transition-duration: 220ms;
}

a.button[data-tooltip]:not(:hover)::after,
button[data-tooltip]:not(:hover)::after {
  transition-delay: 150ms;
  transition-duration: 150ms;
}
.colorButtons > * {
  /* margin: 3px; */
}

.home-row button:hover,
.home-row a.button:hover {
  margin: 0px 7px;
}

nav.glass button.button-one {
  padding: 0;
  background: transparent;
  /* border: 1px solid; */
  border-radius: 1rem;
}

nav.glass button.button-one .burgerline {
  transition: y 0.2s ease-in 0.2s, rotate 0.2s ease-in, opacity 0ms 0.2s;
  -webkit-transform-origin: center;
  transform-origin: center;
}
nav.glass button.button-one[aria-expanded="true"] .burgerline {
  transition: y 0.2s ease-in, rotate 0.2s ease-in 0.2s, opacity 0ms 0.2s;
}
nav.glass button.button-one[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}
nav.glass button.button-one[aria-expanded="true"] .top {
  rotate: 45deg;
}

nav.glass button.button-one[aria-expanded="true"] .middle {
  opacity: 0;
}

nav.glass button.button-one[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.hamburger {
  fill: rgba(var(--accent-color), 1);
}

.flex {
  display: flex;
  gap: var(--gap, 0.5rem);
}

.primary-navigation,
.secondary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  /* background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem); */
}

.mobile-nav-toggle {
  display: none;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0px -15px;
}

.navbar > * {
  /* position: sticky;
  top: 0; */
}

.nav.active {
  background-color: rgba(var(--accent-color), 1);
  color: rgba(var(--main-color), 1);
  border: 3px dotted rgba(var(--main-color), 1);
  border-radius: 20px;
  box-shadow: 3px 3px rgba(var(--accent-color), 1);
}

.glass {
  border-bottom: 3px dotted rgba(var(--accent-color), 1);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
}

.line > p,
.line > a {
  /* padding: 0px 20px; */
}

.line {
  display: flex;
  flex: 1 1 1;
  justify-content: space-between;
  margin-bottom: min(2vh, 0.9em);
  font-weight: 600;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.word {
  color: rgba(var(--accent-color), 1);
  font-size: clamp(0.8em, 5.5vw, 5em);
  font-family: "Mabry pro", "Helvetica", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

a {
  text-decoration: none;
  /* justify-content: space-around; */
}

.text,
.grid.text span,
label {
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  /* font-size: var(--fs-body); */
}

.grid.text {
  margin: 10px;
}

.home-container,
.line > a,
.line > a > p {
  /* margin: 10px; */
  display: block;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.home {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.home .navbar {
  justify-content: flex-end;
}

.home .home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 100%;
  padding: 1em;
}

.home-container > .line {
  width: 100%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.nav-header > a {
  font-family: "Neco", serif, "Clash Grotesk", "Helvetica", sans-serif;
  text-transform: lowercase;
  font-size: var(--fs-primary-heading);
  font-weight: 900;
  color: rgba(var(--accent-color), 1);
}

.extra-large {
  font-size: 5rem;
}

.container {
  position: relative;
  height: 100vh;
}

footer {
  display: grid;
  margin-top: auto;
  color: rgba(var(--main-color), 1);
  background-color: rgba(var(--accent-color), 1);
  padding: 2em;
}

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  border: 1px rgba(var(--accent-color), 1);
  background: linear-gradient(
    to right,
    rgba(var(--accent-color), 1),
    rgba(var(--accent-color), 1),
    rgba(var(--accent-color), 1)
  );
  background-size: 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 450s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-16deg) scale(1.28);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg) scale(1.26);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(-15deg) scale(1.265);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(5%, 25%) rotate(10deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(6%, -40%) rotate(-5deg) scale(1.21);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(3%, 15%) rotate(10deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(2%, -50%) rotate(8deg) scale(1.24);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(10%, 15%) rotate(-8deg) scale(1.22);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(58%, -40%) rotate(10deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(13) {
  transform: translate(-20%, 60%) rotate(-6deg) scale(1.25);
}

.fancy:hover > .outer:nth-child(14) {
  transform: translate(3%, 8%) rotate(-7deg) scale(1.21);
}

.fancy:hover > .outer:nth-child(15) {
  transform: translate(2%, 5%) rotate(23deg) scale(1.23);
}

.fancy:hover > .outer:nth-child(16) {
  transform: translate(0%, 51%) rotate(-30deg) scale(1.28);
}

.fancy:hover > .outer:nth-child(17) {
  transform: translate(0%, -40%) rotate(-5deg) scale(1.22);
}

.fancy:hover > .outer:nth-child(18) {
  transform: translate(0%, 15%) rotate(12deg) scale(1.17);
}

.fancy:hover > .outer:nth-child(19) {
  transform: translate(0%, -48%) rotate(8deg) scale(1.2);
}

.fancy:hover > .outer:nth-child(20) {
  transform: translate(0%, 17%) rotate(-6deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(21) {
  transform: translate(50%, -10%) rotate(-3deg) scale(1.21);
}

.fancy:hover > .outer:nth-child(22) {
  transform: translate(10%, 70%) rotate(-10deg) scale(1.23);
}

.fancy:hover > .outer:nth-child(23) {
  transform: translate(0%, -20%) rotate(-15deg) scale(1.265);
}

.fancy:hover > .outer:nth-child(24) {
  transform: translate(5%, 25%) rotate(10deg) scale(1.27);
}

.fancy:hover > .outer:nth-child(25) {
  transform: translate(6%, -40%) rotate(-5deg) scale(1.21);
}
.fancy:hover > .outer:nth-child(26) {
  transform: translate(25%, -35%) rotate(-2deg) scale(1.24);
}
.fancy:hover > .outer:nth-child(27) {
  transform: translate(10%, 40%) rotate(-6deg) scale(1.27);
}

@media (max-width: 1000px) {
  a.button,
  button {
    font-size: var(--fs-300);
  }

  .nav-header > a {
    font-size: var(--fs-secondary-heading);
    font-weight: 700;
  }

  .extra-large {
    font-size: 3rem;
    max-width: 18ch;
    font-weight: 300;
    line-height: 1.1;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  /* .primary-navigation {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  } */
}

@media (hover: none), (pointer: coarse) {
  body {
    cursor: auto;
  }
  .inner-cursor {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav-header > a {
    font-size: var(--fs-600);
    font-weight: 600;
  }

  a.button,
  button {
    font-size: 0.75rem;
    padding: 0.5em 1em;
  }
}

@media (max-width: 600px) {
  body.home {
    overflow-y: hidden;
  }
  .line {
    font-weight: 700;
  }

  .dropdown {
    display: unset;
    display: inline-block;
  }

  .glass {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: rgba(var(--main-color), 1);
  }

  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(20vh, 3.5rem) 2em;
    z-index: 500;
    transform: translateX(100%);
    transition: transform ease-out 550ms;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  a.nav.button {
    font-size: 1em;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .secondary-navigation {
    display: none;
  }

  .mobile-nav-toggle {
    all: initial;
    display: block;
    position: absolute;
    z-index: 999;
    color: rgba(var(--accent-color), 1);
    background-repeat: no-repeat;
    /* top: 0.25rem; */
    right: 2rem;
    border: 0;
  }

  .hamburger {
    width: 2.1rem;
    height: 2.1rem;
  }
}
