@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@400;500;600;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins&family=Roboto:wght@400;500;900&family=Rubik:wght@300;400;500;600;700&family=Urbanist:wght@400;600;900&display=swap');

:root {
    --green: rgb(42, 252, 152);
    --blue: rgb(41, 121, 255);
    --main-color: #000000;
    --accent-color: #ffffff;
}

* {
    font-family: 'Rubik', sans-serif;
}


button,
.page_nav {
    padding: 8px 16px;
    font-size: 18px;
    /* Black button color */
    color: var(--accent-color);
    background-color: var(--main-color);
    border: 3px dotted var(--accent-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline;
}

.hero_nav {
    position: absolute;
    top: 0;
    left: 0;
}

.page_nav {
    position: absolute;
    top: 0;
    right: 0;
    /* display: flex; */
}

@keyframes float {

    from,
    to {
        transform: translateY(-0%);
    }

    50% {
        transform: translateY(-3%);
    }
}

@keyframes background-pan {
    from {
        background-position: 1000% center;
    }

    to {
        background-position: 0% center;
    }
}

body {
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    margin: 0rem;
    overflow: hidden;
    /* display: grid; */
    /* display: grid; */
    place-items: center;
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
}

.line {
    display: flex;
    justify-content: space-between;
}

.word{
    color: var(--accent-color);
    font-size: clamp(2rem, 6.5vw, 4rem);
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 250ms ease;
}

a {
    text-decoration: none;
    /* justify-content: space-around; */
}

#text {
    max-width: 820px;
    padding: 200px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.container {
    position: relative;
    /* display: grid;
   place-items: center; */
    height: 100vh;
    border: 1px solid red;
}

/* .outer .inner {
    animation: float 1s ease;
}

.outer .inner .letter {
    animation: background-pan 0.5s ease;
} */

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy span {
    display: inline-block;
}

.fancy>.outer {
    transition: transform 350ms ease;
}

.fancy:hover>.outer {
    transition-duration: 800ms;
}

.fancy:hover>.outer>.inner {
    animation: float 5s ease infinite;
}

.fancy:hover>.outer>.inner>.letter {
    border: 1px var(--accent-color);
    background: linear-gradient(to right,
            var(--accent-color),
            var(--main-color),
            var(--accent-color));
    background-size: 1000%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 450s linear infinite;
}

.fancy:hover>.outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-16deg) scale(1.28); 
}

.fancy:hover>.outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg) scale(1.26);
}

.fancy:hover>.outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(-15deg) scale(1.265);
}

.fancy:hover>.outer:nth-child(6) {
    transform: translate(5%, 25%) rotate(10deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(7) {
    transform: translate(6%, -40%) rotate(-5deg) scale(1.21);
}

.fancy:hover>.outer:nth-child(8) {
    transform: translate(3%, 15%) rotate(10deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(9) {
    transform: translate(2%, -50%) rotate(8deg) scale(1.24);
}

.fancy:hover>.outer:nth-child(10) {
    transform: translate(10%, 15%) rotate(-8deg) scale(1.22);
}

.fancy:hover>.outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(13) {
    transform: translate(-10%, 60%) rotate(-6deg) scale(1.25);
}

.fancy:hover>.outer:nth-child(14) {
    transform: translate(3%, 8%) rotate(-7deg) scale(1.21);
}

.fancy:hover>.outer:nth-child(15) {
    transform: translate(2%, -19%) rotate(23deg) scale(1.23);
}

.fancy:hover>.outer:nth-child(16) {
    transform: translate(0%, 21%) rotate(-30deg) scale(1.28);
}

.fancy:hover>.outer:nth-child(17) {
    transform: translate(0%, -40%) rotate(-5deg) scale(1.22);
}

.fancy:hover>.outer:nth-child(18) {
    transform: translate(0%, 15%) rotate(12deg) scale(1.17);
}

.fancy:hover>.outer:nth-child(19) {
    transform: translate(0%, -48%) rotate(8deg) scale(1.20);
}

.fancy:hover>.outer:nth-child(20) {
    transform: translate(0%, 17%) rotate(-6deg) scale(1.27);
}

.fancy:hover>.outer:nth-child(21) {
    transform: translate(50%, -10%) rotate(-3deg) scale(1.21);
}

.fancy:hover>.outer:nth-child(22) {
    transform: translate(120%, -30%) rotate(-10deg) scale(1.23);
}